/*
	Assignment3 for CS3319
	reference:https://fonts.google.com/specimen/Mali?selection.family=Mali
*/

body {
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: #6666ff;
	color: white;
}
h1 {
	font-size: 40px;
}
select {
		font-family: 'Charmonman', cursive;
		background-color: #66ff8c;
}
table, th, td {
	vertical-align: top;
}
img {
	vertical-align: top;	
}
